<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileSystemWatcher1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

  <appSettings>
    <add key="NombreApp" value="FileWatcher"/>
    <add key="Filtro" value="*.tmp"/>
    <add key="Backup" value="D:\Temp\3001\Backup"/>
    <add key="Directorio" value="D:\Temp\3001"/>
    <add key="TipoOeracion" value="TCP"/>
    <add key="IPDest" value="nxssrvst016"/>
    <add key="PortDest" value="4477"/>
    <add key="FTPUser" value=""/>
    <add key="FTPPssw" value=""/>
    <add key="LogFullPath" value="D:\Temp\3001\Log\FileWatcher.Log"/>
    <add key="DiasBackup" value="1"/>
    <add key="EliminaRO" value="True"/>
    <add key="EnviosErroneos" value="D:\Temp\3001\EnviosErroneos"/>
    <add key="MilisecsBorrado" value="-1"/>
    <add key="MilisecsToWait" value="10"/>
    <add key="MilisecsKeyboard" value="10"/>
    <add key="AccionBackup" value="B"/>
  </appSettings>
  
    <log4net>
      <root>
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </root>
      <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
        <file value="D:\Temp\3001\Log\FileWatcher.Log" />
        <appendToFile value="true" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <maximumFileSize value="1000000KB" />
        <maxSizeRollBackups value="2" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{ISO8601} %level %logger *** %message%newline"/>
        </layout>
      </appender>
    </log4net>

    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
